@if (Request.Cookies["AccessToken"]!=null) {
    <li>
        <a href="#">@Session["Name"]</a>
    </li>
    <li>
        @Html.ActionLink("登出","Logout","Home")
    </li>
} else {
    <li>
        @Html.ActionLink("登入", "Login", "Home")
    </li>
}
