@{
    ViewBag.Title = "Home Page";
}

@section navbar{
<li class="active">
    @Html.ActionLink("主页", "Index","Home")
</li>
}
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
    </div>
</div>
@if (Request.Cookies["AccessToken"] != null)
{
    <div id="collect-info-div">
        @using (Html.BeginForm("Collect", "Home", FormMethod.Post, new { id = "collectForm" })) {
            @Html.AntiForgeryToken()
            <text>如果您愿意提供您的粉丝和关注信息供我们研究，请</text><a href="javascript:document.getElementById('collectForm').submit()">点击这里</a>
        }
    </div>
}